# Importing the File and Data Check

In [34]:
import pandas as pd

In [35]:
#reading the csv file
data = pd.read_csv('DataCoSupplyChainDataset.csv',header= 0,encoding='unicode_escape')

In [36]:
# showing first 5 rows and displaying all columns
pd.set_option('display.max_columns', None)

data.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Lname,Customer Password,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,Order Date,Time,Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Cally,20755,Holloway,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018,22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,02/03/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Irene,19492,Luna,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018,12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajastán,PENDING,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,XXXXXXXXX,Gillian,19491,Maldonado,XXXXXXXXX,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018,12:06,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajastán,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,XXXXXXXXX,Tana,19490,Tate,XXXXXXXXX,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,1/13/2018,11:45,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Orli,19489,Hendricks,XXXXXXXXX,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,1/13/2018,11:24,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [37]:
#Displaying rows and columns of df
data.shape

(180519, 54)

In [38]:
#See nulls, counts, and data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 54 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  Order Date                     180519 non-null  object
 29  Time                           180519 non-null  object
 30  Order Id                       180519 non-null  int64
 31  Order Item Cardprod Id         180519 non-null  int64
 32  Order Item Discount            180519 non-null  float64
 33  Order Item Discount Rate       180519 non-null  float64
 34  Order Item Id                  180519 non-null  int64
 35  Order Item Product Price       180519 non-null  float64
 36  Order Item Profit Ratio        180519 non-null  float64
 37  Order Item Quantity            180519 non-null  int64
 38  Sales                          180519 non-null  float64
 39  Order Item Total               180519 non-null  float64
 40  Order Profit Per Order         180519 non-null  float64
 41  Order Region                   180519 non-null  object
 42  Order State                    180519 non-null  object
 43  Order Status                   180519 non-null  object
 44  Order Zipcode                  24840 non-null   float64
 45  Product Card Id                180519 non-null  int64
 46  Product Category Id            180519 non-null  int64
 47  Product Description            0 non-null       float64
 48  Product Image                  180519 non-null  object
 49  Product Name                   180519 non-null  object
 50  Product Price                  180519 non-null  float64
 51  Product Status                 180519 non-null  int64
 52  shipping date (DateOrders)     180519 non-null  object
 53  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(25)
memory usage: 74.4+ MB

In [39]:
#Check column names
data.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id', 'Order Date',
       'Time', 'Order Id', 'Order Item Cardprod Id', 'Order Item Discount',
       'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price',
       'Order Item Profit Ratio', 'Order Item Quantity', 'Sales',
       'Order Item Total', 'Order Profit Per Order', 'Order Region',
       'Order State', 'Order Status', 'Order Zipcode', 'Product Card Id',
       'Product Category Id', 'Product Description', 'Product Image',
       'Product Name', 'Product Price', 'Product Status',
       'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

# Data Cleaning

In [40]:
#Check if there are any duplicate rows.
data[data.duplicated()]

#Results show that there are no duplicate rows.

Empty DataFrame
Columns: [Type, Days for shipping (real), Days for shipment (scheduled), Benefit per order, Sales per customer, Delivery Status, Late_delivery_risk, Category Id, Category Name, Customer City, Customer Country, Customer Email, Customer Fname, Customer Id, Customer Lname, Customer Password, Customer Segment, Customer State, Customer Street, Customer Zipcode, Department Id, Department Name, Latitude, Longitude, Market, Order City, Order Country, Order Customer Id, Order Date, Time, Order Id, Order Item Cardprod Id, Order Item Discount, Order Item Discount Rate, Order Item Id, Order Item Product Price, Order Item Profit Ratio, Order Item Quantity, Sales, Order Item Total, Order Profit Per Order, Order Region, Order State, Order Status, Order Zipcode, Product Card Id, Product Category Id, Product Description, Product Image, Product Name, Product Price, Product Status, shipping date (DateOrders), Shipping Mode]
Index: []

In [41]:
#Index of numberical columns
num_col = data.select_dtypes(include=['number']).columns
print(num_col)

Index(['Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Late_delivery_risk',
       'Category Id', 'Customer Id', 'Customer Zipcode', 'Department Id',
       'Latitude', 'Longitude', 'Order Customer Id', 'Order Id',
       'Order Item Cardprod Id', 'Order Item Discount',
       'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price',
       'Order Item Profit Ratio', 'Order Item Quantity', 'Sales',
       'Order Item Total', 'Order Profit Per Order', 'Order Zipcode',
       'Product Card Id', 'Product Category Id', 'Product Description',
       'Product Price', 'Product Status'],
      dtype='object')

In [42]:
#Check to see if there are null columns for numerical data
data[num_col].info()

#Customer Zipcode (3), Order Zipcode (155,679) and product description (all) have missing data.
#Order Zipcode and product description cannot be used in this analysis.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Days for shipping (real)       180519 non-null  int64
 1   Days for shipment (scheduled)  180519 non-null  int64
 2   Benefit per order              180519 non-null  float64
 3   Sales per customer             180519 non-null  float64
 4   Late_delivery_risk             180519 non-null  int64
 5   Category Id                    180519 non-null  int64
 6   Customer Id                    180519 non-null  int64
 7   Customer Zipcode               180516 non-null  float64
 8   Department Id                  180519 non-null  int64
 9   Latitude                       180519 non-null  float64
 10  Longitude                      180519 non-null  float64
 11  Order Customer Id              180519 non-null  int64
 12  Order Id                       180519 non-null  int64
 13  Order Item Cardprod Id         180519 non-null  int64
 14  Order Item Discount            180519 non-null  float64
 15  Order Item Discount Rate       180519 non-null  float64
 16  Order Item Id                  180519 non-null  int64
 17  Order Item Product Price       180519 non-null  float64
 18  Order Item Profit Ratio        180519 non-null  float64
 19  Order Item Quantity            180519 non-null  int64
 20  Sales                          180519 non-null  float64
 21  Order Item Total               180519 non-null  float64
 22  Order Profit Per Order         180519 non-null  float64
 23  Order Zipcode                  24840 non-null   float64
 24  Product Card Id                180519 non-null  int64
 25  Product Category Id            180519 non-null  int64
 26  Product Description            0 non-null       float64
 27  Product Price                  180519 non-null  float64
 28  Product Status                 180519 non-null  int64
dtypes: float64(15), int64(14)
memory usage: 39.9 MB

In [43]:
# Checking the data from numerical columns.
data[num_col].describe()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,Longitude,Order Customer Id,Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,Product Status
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180516.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,24840.000000,180519.000000,180519.000000,0.0,180519.000000,180519.0
mean,3.497654,2.931847,21.974989,183.107609,0.548291,31.851451,6691.379495,35921.126914,5.443460,29.719955,-84.915675,6691.379495,36221.894903,692.509764,20.664741,0.101668,90260.000000,141.232550,0.120647,2.127638,203.772096,183.107609,21.974989,55426.132327,692.509764,31.851451,NaN,141.232550,0.0
std,1.623722,1.374449,104.433526,120.043670,0.497664,15.640064,4162.918106,37542.461122,1.629246,9.813646,21.433241,4162.918106,21045.379569,336.446807,21.800901,0.070415,52111.490959,139.732492,0.466796,1.453451,132.273077,120.043670,104.433526,31919.279101,336.446807,15.640064,NaN,139.732492,0.0
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,-158.025986,1.000000,1.000000,19.000000,0.000000,0.000000,1.000000,9.990000,-2.750000,1.000000,9.990000,7.490000,-4274.979980,1040.000000,19.000000,2.000000,NaN,9.990000,0.0
25%,2.000000,2.000000,7.000000,104.379997,0.000000,18.000000,3258.500000,725.000000,4.000000,18.265432,-98.446312,3258.500000,18057.000000,403.000000,5.400000,0.040000,45130.500000,50.000000,0.080000,1.000000,119.980003,104.379997,7.000000,23464.000000,403.000000,18.000000,NaN,50.000000,0.0
50%,3.000000,4.000000,31.520000,163.990005,1.000000,29.000000,6457.000000,19380.000000,5.000000,33.144863,-76.847908,6457.000000,36140.000000,627.000000,14.000000,0.100000,90260.000000,59.990002,0.270000,1.000000,199.919998,163.990005,31.520000,59405.000000,627.000000,29.000000,NaN,59.990002,0.0
75%,5.000000,4.000000,64.800003,247.399994,1.000000,45.000000,9779.000000,78207.000000,7.000000,39.279617,-66.370583,9779.000000,54144.000000,1004.000000,29.990000,0.160000,135389.500000,199.990005,0.360000,3.000000,299.950012,247.399994,64.800003,90008.000000,1004.000000,45.000000,NaN,199.990005,0.0
max,6.000000,4.000000,911.799988,1939.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,115.263077,20757.000000,77204.000000,1363.000000,500.000000,0.250000,180519.000000,1999.989990,0.500000,5.000000,1999.989990,1939.989990,911.799988,99301.000000,1363.000000,76.000000,NaN,1999.989990,0.0

In [44]:
#Index of non-numerical columns
nonnum_col = data.select_dtypes(exclude=['number']).columns
print(nonnum_col)

Index(['Type', 'Delivery Status', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Date', 'Time', 'Order Region',
       'Order State', 'Order Status', 'Product Image', 'Product Name',
       'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [45]:
#Check to see if there are null columns for non-numerical data
data[nonnum_col].info()

#Customer Lname missing 8 inputs.
#Customer Lname will not be used in this analysis.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 25 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Type                        180519 non-null  object
 1   Delivery Status             180519 non-null  object
 2   Category Name               180519 non-null  object
 3   Customer City               180519 non-null  object
 4   Customer Country            180519 non-null  object
 5   Customer Email              180519 non-null  object
 6   Customer Fname              180519 non-null  object
 7   Customer Lname              180511 non-null  object
 8   Customer Password           180519 non-null  object
 9   Customer Segment            180519 non-null  object
 10  Customer State              180519 non-null  object
 11  Customer Street             180519 non-null  object
 12  Department Name             180519 non-null  object
 13  Market                      180519 non-null  object
 14  Order City                  180519 non-null  object
 15  Order Country               180519 non-null  object
 16  Order Date                  180519 non-null  object
 17  Time                        180519 non-null  object
 18  Order Region                180519 non-null  object
 19  Order State                 180519 non-null  object
 20  Order Status                180519 non-null  object
 21  Product Image               180519 non-null  object
 22  Product Name                180519 non-null  object
 23  shipping date (DateOrders)  180519 non-null  object
 24  Shipping Mode               180519 non-null  object
dtypes: object(25)
memory usage: 34.4+ MB

In [46]:
#Based on the questions outlined below, the following columns are not needed and are dropped.
data.drop(['Days for shipment (scheduled)','Benefit per order','Sales per customer','Late_delivery_risk','Category Id','Customer Email','Customer Fname','Customer Lname','Customer Password','Customer State','Customer Street','Customer Zipcode','Department Id','Department Name','Latitude','Longitude','Market','Order Customer Id','Order Id','Order Item Cardprod Id','Order Item Discount','Order Item Id','Order Item Product Price','Order Item Profit Ratio','Order Region','Order State','Order Zipcode','Product Card Id','Product Category Id','Product Description','Product Image','Product Price','Product Status','shipping date (DateOrders)'], inplace=True,axis=1)
data.shape

#20 columns are left

(180519, 20)

In [48]:
#No columns have any blank values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Type                      180519 non-null  object
 1   Days for shipping (real)  180519 non-null  int64
 2   Delivery Status           180519 non-null  object
 3   Category Name             180519 non-null  object
 4   Customer City             180519 non-null  object
 5   Customer Country          180519 non-null  object
 6   Customer Id               180519 non-null  int64
 7   Customer Segment          180519 non-null  object
 8   Order City                180519 non-null  object
 9   Order Country             180519 non-null  object
 10  Order Date                180519 non-null  object
 11  Time                      180519 non-null  object
 12  Order Item Discount Rate  180519 non-null  float64
 13  Order Item Quantity       180519 non-null  int64
 14  Sales                     180519 non-null  float64
 15  Order Item Total          180519 non-null  float64
 16  Order Profit Per Order    180519 non-null  float64
 17  Order Status              180519 non-null  object
 18  Product Name              180519 non-null  object
 19  Shipping Mode             180519 non-null  object
dtypes: float64(4), int64(3), object(13)
memory usage: 27.5+ MB

In [49]:
data['Category Name'].value_counts().head()

Cleats                  24551
Men's Footwear          22246
Women's Apparel         21035
Indoor/Outdoor Games    19298
Fishing                 17325
Name: Category Name, dtype: int64

In [50]:
#Taking out the apostrophe for convenience in analyzing the data of top 5 categories.
data['Category Name'] = data['Category Name'].replace(to_replace = ["Women's Apparel","Men's Footwear"],value =["Womens Apparel","Mens Footwear"])
data['Category Name'].value_counts().head()

Cleats                  24551
Mens Footwear           22246
Womens Apparel          21035
Indoor/Outdoor Games    19298
Fishing                 17325
Name: Category Name, dtype: int64

In [51]:
#Creating a new column for dates.
data['Order Date'] = pd.to_datetime(data['Order Date'], errors='coerce')
data['Order Date'] = pd.to_datetime(data['Order Date'], format='%Y-%m-%d')

In [52]:
data.to_csv('cleaned_data.csv')